# Movie Recommender

Movie Tinder, where it registers your mood.
Shuffling of Movies
Movies of different Genre

Can consider Decision Trees

Group by Users Id and Movie Id

Grou Presentation Flow:
Make up an issue/story (1 min)
Technical Description of Code (3 min)
How we use the code and how it addresses our issue (4 min) 
Link back (2 min)

In [1]:
# We will first import our basic modules and packages
import ast
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sb
from sklearn.metrics.pairwise import cosine_similarity
from sklearn.feature_extraction.text import CountVectorizer
sb.set()

In [2]:
# Let us import the datasets, we will be using the smaller datasets first
movies = pd.read_csv('ratings_small.csv').drop(columns = ['timestamp'])
link = pd.read_csv('links_small.csv').drop(columns= ['tmdbId'])
keywords = pd.read_csv('keywords.csv')
metadata = pd.read_csv('movies_metadata.csv').drop(columns=['vote_count', 'vote_average','video','tagline','status'])
credit = pd.read_csv('credits.csv')

print("Movies dataset is", movies.shape)
print("Links dataset is", link.shape)
print("Keywords dataset is", keywords.shape)
print("Metadata dataset is", metadata.shape)
print("Credits dataset is", credit.shape)

C:\Users\yihao\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3145: DtypeWarning: Columns (10) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

Movies dataset is (100004, 3)
Links dataset is (9125, 2)
Keywords dataset is (46419, 2)
Metadata dataset is (45466, 19)
Credits dataset is (45476, 3)

# Data Cleaning

In [3]:
# Movies and Link form a data
data = pd.merge(movies, link, on='movieId')

metadata['imdb_id'] = metadata['imdb_id'].str[2:]
metadata.head()

# Converting metadata IMDB ID column into an Integer
metadata_imdb = pd.DataFrame(metadata['imdb_id'].dropna()).replace('',0).astype(np.int64)

# Rename Meta Data IMDB ID to imdbid
metadata = metadata[metadata.imdb_id.notnull()]
metadata['imdb_id'] = metadata_imdb
metadata = metadata.rename(columns={"imdb_id": "imdbId"})

# Print the results
metadata.head()

,adult,belongs_to_collection,budget,genres,homepage,id,imdbId,original_language,original_title,overview,popularity,poster_path,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,title
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",21.9469,/rhIRbceoE9lR4veEXuwCC2wARtG.jpg,"[{'name': 'Pixar Animation Studios', 'id': 3}]","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Toy Story
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,113497,en,Jumanji,When siblings Judy and Peter discover an encha...,17.0155,/vzmL6fP7aPKNKPRTFnZmiUfciyV.jpg,"[{'name': 'TriStar Pictures', 'id': 559}, {'na...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Jumanji
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,11.7129,/6ksm1sjKMFLbO7UY2i6G1ju9SML.jpg,"[{'name': 'Warner Bros.', 'id': 6194}, {'name'...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Grumpier Old Men
3,False,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",3.85949,/16XOMpEaLWkrcPqSQqhTmeJuqQl.jpg,[{'name': 'Twentieth Century Fox Film Corporat...,"[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Waiting to Exhale
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,8.38752,/e64sOI48hQXyru7naBFyssKFxVd.jpg,"[{'name': 'Sandollar Productions', 'id': 5842}...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-02-10,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Father of the Bride Part II

In [13]:
credit.dtypes

cast    object
crew    object
id       int64
dtype: object

In [14]:
data.head()

   userId  movieId  rating  imdbId
0       1       31     2.5  112792
1       7       31     3.0  112792
2      31       31     4.0  112792
3      32       31     4.0  112792
4      36       31     3.0  112792

In [44]:
# Let us try to find the average rating of each movie
average_rating = data.groupby('movieId')['rating'].mean().sort_values(ascending = True)
ratings = pd.merge(link, average_rating, on = 'movieId')
ratings.shape

(9066, 3)

In [32]:
# Let us merge the metadata with the ratings dataset (containing the found average ratings) we just created
merged_data = pd.merge(metadata,ratings, on='imdbId').drop(columns=['adult','poster_path']).drop(columns=['belongs_to_collection','original_title'])
merged_data['id'] = merged_data['id'].astype(np.int64)

# Let us merge the already merged data with the credits dataset
merged_data = pd.merge(merged_data, credit, on = 'id')
display(merged_data.head(3))
print("Final Dataset Size", merged_data.shape)

,budget,genres,homepage,id,imdbId,original_language,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,title,movieId,rating,cast,crew
0,30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,114709,en,"Led by Woody, Andy's toys live happily in his ...",21.9469,"[{'name': 'Pixar Animation Studios', 'id': 3}]","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Toy Story,1,3.872470,"[{'cast_id': 14, 'character': 'Woody (voice)',...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de..."
1,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,113497,en,When siblings Judy and Peter discover an encha...,17.0155,"[{'name': 'TriStar Pictures', 'id': 559}, {'na...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Jumanji,2,3.401869,"[{'cast_id': 1, 'character': 'Alan Parrish', '...","[{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de..."
2,0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,113228,en,A family wedding reignites the ancient feud be...,11.7129,"[{'name': 'Warner Bros.', 'id': 6194}, {'name'...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Grumpier Old Men,3,3.161017,"[{'cast_id': 2, 'character': 'Max Goldman', 'c...","[{'credit_id': '52fe466a9251416c75077a89', 'de..."

Final Dataset Size (9031, 19)

We now have our finalised **Dataset** formed from dropping irrelevant columns and merging multiple different dataset. Well it seems we have 9031 rows to work with. 

But first things first, we need to do some tidying up of the names of the columns and extracting some contents in the columns out of their respective lists

In [2]:
# lets trying cleaning up the cast name with a function that takes in a dataset, we have chosen the first 5 actors/actresses only
def get_cast_name(dataset):
    name = ""
    if len(ast.literal_eval(dataset)) > 5:
        a = 5
    else:
        a = len(ast.literal_eval(dataset))
    for i in range(a):
     #   name += ast.literal_eval(dataset[0])[i]['character']
     #   name += ", "
        name += ast.literal_eval(dataset)[i]['name']
        name += ", "
    return name

# Replacing the Cast Column with our newly found cast
a = merged_data.copy()
cast_list = []
for i in range(len(merged_data)):
    cast_list.append(get_cast_name(a['cast'][i]))

merged_data['cast'] = cast_list

NameError: name 'merged_data' is not defined

In [54]:
# Renaming more columns
merged_data.rename(columns={"original_language": "Language", "original_title":"Title"})
merged_data['genres'][0]

[{'id': 16, 'name': 'Animation'},
 {'id': 35, 'name': 'Comedy'},
 {'id': 10751, 'name': 'Family'}]

In [61]:
# Renaming the genre list
def get_genre(dataset):
    name = ""
    for i in range(len(ast.literal_eval(dataset))):
        name += ast.literal_eval(dataset)[i]['name']
        name += ', '
    return name

genre_list = []
for i in range(len(merged_data)):
    genre_list.append(get_genre(merged_data['genres'][i]))
    
merged_data['genres'] = genre_list
merged_data.head()

,budget,genres,homepage,id,imdbId,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,title,movieId,rating,cast,crew
0,30000000,"Animation, Comedy, Family,",http://toystory.disney.com/toy-story,862,114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",21.9469,"[{'name': 'Pixar Animation Studios', 'id': 3}]","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Toy Story,1,3.872470,"Tom Hanks, Tim Allen, Don Rickles, Jim Varney,...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de..."
1,65000000,"Adventure, Fantasy, Family,",NaN,8844,113497,en,Jumanji,When siblings Judy and Peter discover an encha...,17.0155,"[{'name': 'TriStar Pictures', 'id': 559}, {'na...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Jumanji,2,3.401869,"Robin Williams, Jonathan Hyde, Kirsten Dunst, ...","[{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de..."
2,0,"Romance, Comedy,",NaN,15602,113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,11.7129,"[{'name': 'Warner Bros.', 'id': 6194}, {'name'...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Grumpier Old Men,3,3.161017,"Walter Matthau, Jack Lemmon, Ann-Margret, Soph...","[{'credit_id': '52fe466a9251416c75077a89', 'de..."
3,16000000,"Comedy, Drama, Romance,",NaN,31357,114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",3.85949,[{'name': 'Twentieth Century Fox Film Corporat...,"[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Waiting to Exhale,4,2.384615,"Whitney Houston, Angela Bassett, Loretta Devin...","[{'credit_id': '52fe44779251416c91011acb', 'de..."
4,0,"Comedy,",NaN,11862,113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,8.38752,"[{'name': 'Sandollar Productions', 'id': 5842}...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-02-10,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Father of the Bride Part II,5,3.267857,"Steve Martin, Diane Keaton, Martin Short, Kimb...","[{'credit_id': '52fe44959251416c75039ed7', 'de..."

In [62]:
# Renaming the country
def get_country(dataset):
    name = ""
    for i in range(len(ast.literal_eval(dataset))):
        name += ast.literal_eval(dataset)[i]['name']
        name += ', '
    return name

genre_list = []
for i in range(len(merged_data)):
    genre_list.append(get_country(merged_data['production_countries'][i]))
    
merged_data['production_countries'] = genre_list
merged_data.head()

,budget,genres,homepage,id,imdbId,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,title,movieId,rating,cast,crew
0,30000000,"Animation, Comedy, Family,",http://toystory.disney.com/toy-story,862,114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",21.9469,"[{'name': 'Pixar Animation Studios', 'id': 3}]","United States of America,",1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Toy Story,1,3.872470,"Tom Hanks, Tim Allen, Don Rickles, Jim Varney,...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de..."
1,65000000,"Adventure, Fantasy, Family,",NaN,8844,113497,en,Jumanji,When siblings Judy and Peter discover an encha...,17.0155,"[{'name': 'TriStar Pictures', 'id': 559}, {'na...","United States of America,",1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Jumanji,2,3.401869,"Robin Williams, Jonathan Hyde, Kirsten Dunst, ...","[{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de..."
2,0,"Romance, Comedy,",NaN,15602,113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,11.7129,"[{'name': 'Warner Bros.', 'id': 6194}, {'name'...","United States of America,",1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Grumpier Old Men,3,3.161017,"Walter Matthau, Jack Lemmon, Ann-Margret, Soph...","[{'credit_id': '52fe466a9251416c75077a89', 'de..."
3,16000000,"Comedy, Drama, Romance,",NaN,31357,114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",3.85949,[{'name': 'Twentieth Century Fox Film Corporat...,"United States of America,",1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Waiting to Exhale,4,2.384615,"Whitney Houston, Angela Bassett, Loretta Devin...","[{'credit_id': '52fe44779251416c91011acb', 'de..."
4,0,"Comedy,",NaN,11862,113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,8.38752,"[{'name': 'Sandollar Productions', 'id': 5842}...","United States of America,",1995-02-10,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Father of the Bride Part II,5,3.267857,"Steve Martin, Diane Keaton, Martin Short, Kimb...","[{'credit_id': '52fe44959251416c75039ed7', 'de..."

In [63]:
# Renaming the companies
def get_companies(dataset):
    name = ""
    for i in range(len(ast.literal_eval(dataset))):
        name += ast.literal_eval(dataset)[i]['name']
        name += ', '
    return name

genre_list = []
for i in range(len(merged_data)):
    genre_list.append(get_country(merged_data['production_companies'][i]))
    
merged_data['production_companies'] = genre_list
merged_data.head()

,budget,genres,homepage,id,imdbId,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,title,movieId,rating,cast,crew
0,30000000,"Animation, Comedy, Family,",http://toystory.disney.com/toy-story,862,114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",21.9469,"Pixar Animation Studios,","United States of America,",1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Toy Story,1,3.872470,"Tom Hanks, Tim Allen, Don Rickles, Jim Varney,...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de..."
1,65000000,"Adventure, Fantasy, Family,",NaN,8844,113497,en,Jumanji,When siblings Judy and Peter discover an encha...,17.0155,"TriStar Pictures, Teitler Film, Interscope Com...","United States of America,",1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Jumanji,2,3.401869,"Robin Williams, Jonathan Hyde, Kirsten Dunst, ...","[{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de..."
2,0,"Romance, Comedy,",NaN,15602,113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,11.7129,"Warner Bros., Lancaster Gate,","United States of America,",1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Grumpier Old Men,3,3.161017,"Walter Matthau, Jack Lemmon, Ann-Margret, Soph...","[{'credit_id': '52fe466a9251416c75077a89', 'de..."
3,16000000,"Comedy, Drama, Romance,",NaN,31357,114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",3.85949,"Twentieth Century Fox Film Corporation,","United States of America,",1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Waiting to Exhale,4,2.384615,"Whitney Houston, Angela Bassett, Loretta Devin...","[{'credit_id': '52fe44779251416c91011acb', 'de..."
4,0,"Comedy,",NaN,11862,113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,8.38752,"Sandollar Productions, Touchstone Pictures,","United States of America,",1995-02-10,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Father of the Bride Part II,5,3.267857,"Steve Martin, Diane Keaton, Martin Short, Kimb...","[{'credit_id': '52fe44959251416c75039ed7', 'de..."

In [72]:
# Renaming the Language Column
def get_language(dataset):
    name = ""
    for i in range(len(ast.literal_eval(dataset))):
        name += ast.literal_eval(dataset)[i]['name']
        name += ', '
    return name

genre_list = []
for i in range(len(merged_data)):
    genre_list.append(get_language(merged_data['spoken_languages'][i]))
    
merged_data['spoken_languages'] = genre_list
merged_data.head()

,budget,genres,homepage,id,imdbId,original_language,original_title,overview,popularity,production_companies,...,release_date,revenue,runtime,spoken_languages,title,movieId,rating,cast,crew,release_data
0,30000000,"Animation, Comedy, Family,",http://toystory.disney.com/toy-story,862,114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",21.9469,"Pixar Animation Studios,",...,1995-10-30,373554033.0,81.0,"English,",Toy Story,1,3.872470,"Tom Hanks, Tim Allen, Don Rickles, Jim Varney,...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de...","Led by Woody, Andy's toys live happily in his ..."
1,65000000,"Adventure, Fantasy, Family,",None,8844,113497,en,Jumanji,When siblings Judy and Peter discover an encha...,17.0155,"TriStar Pictures, Teitler Film, Interscope Com...",...,1995-12-15,262797249.0,104.0,"English, Franais,",Jumanji,2,3.401869,"Robin Williams, Jonathan Hyde, Kirsten Dunst, ...","[{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de...",When siblings Judy and Peter discover an encha...
2,0,"Romance, Comedy,",None,15602,113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,11.7129,"Warner Bros., Lancaster Gate,",...,1995-12-22,0.0,101.0,"English,",Grumpier Old Men,3,3.161017,"Walter Matthau, Jack Lemmon, Ann-Margret, Soph...","[{'credit_id': '52fe466a9251416c75077a89', 'de...",A family wedding reignites the ancient feud be...
3,16000000,"Comedy, Drama, Romance,",None,31357,114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",3.85949,"Twentieth Century Fox Film Corporation,",...,1995-12-22,81452156.0,127.0,"English,",Waiting to Exhale,4,2.384615,"Whitney Houston, Angela Bassett, Loretta Devin...","[{'credit_id': '52fe44779251416c91011acb', 'de...","Cheated on, mistreated and stepped on, the wom..."
4,0,"Comedy,",None,11862,113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,8.38752,"Sandollar Productions, Touchstone Pictures,",...,1995-02-10,76578911.0,106.0,"English,",Father of the Bride Part II,5,3.267857,"Steve Martin, Diane Keaton, Martin Short, Kimb...","[{'credit_id': '52fe44959251416c75039ed7', 'de...",Just when George Banks has recovered from his ...

In [71]:
# Filling Nan values of the columns
merged_data['homepage'] = merged_data['homepage'].fillna('None')
merged_data['overview'] = merged_data['overview'].fillna('None')
merged_data['release_date'] = merged_data['release_date'].fillna('None')
merged_data.isnull().any()

budget                  False
genres                  False
homepage                False
id                      False
imdbId                  False
original_language       False
original_title          False
overview                False
popularity              False
production_companies    False
production_countries    False
release_date            False
revenue                 False
runtime                 False
spoken_languages        False
title                   False
movieId                 False
rating                  False
cast                    False
crew                    False
release_data            False
dtype: bool

The code below is a one line code of everything above ^, it will process and return the dataset. Note: May take a while to run !!!
# One Line Code to process the Dataset

In [3]:
movies = pd.read_csv('ratings_small.csv').drop(columns = ['timestamp'])
link = pd.read_csv('links_small.csv').drop(columns= ['tmdbId'])
keywords = pd.read_csv('keywords.csv')
metadata = pd.read_csv('movies_metadata.csv').drop(columns=['vote_count', 'vote_average','video','tagline','status'])
credit = pd.read_csv('credits.csv')

print("Movies dataset is", movies.shape)
print("Links dataset is", link.shape)
print("Keywords dataset is", keywords.shape)
print("Metadata dataset is", metadata.shape)
print("Credits dataset is", credit.shape)

data = pd.merge(movies, link, on='movieId')

metadata['imdb_id'] = metadata['imdb_id'].str[2:]

# Converting metadata IMDB ID column into an Integer
metadata_imdb = pd.DataFrame(metadata['imdb_id'].dropna()).replace('',0).astype(np.int64)

# Rename Meta Data IMDB ID to imdbid
metadata = metadata[metadata.imdb_id.notnull()]
metadata['imdb_id'] = metadata_imdb
metadata = metadata.rename(columns={"imdb_id": "imdbId"})


average_rating = data.groupby('movieId')['rating'].mean().sort_values(ascending = True)
ratings = pd.merge(link, average_rating, on = 'movieId')
print("Ratings dataset is",ratings.shape)


# Let us merge the metadata with the ratings dataset (containing the found average ratings) we just created
merged_data = pd.merge(metadata,ratings, on='imdbId').drop(columns=['adult','poster_path']).drop(columns='belongs_to_collection')
merged_data['id'] = merged_data['id'].astype(np.int64)

# Let us merge the already merged data with the credits dataset
merged_data = pd.merge(merged_data, credit, on = 'id')
print("Final Dataset Size", merged_data.shape)

# lets trying cleaning up the cast name with a function that takes in a dataset, we have chosen the first 5 actors/actresses only
def get_cast_name(dataset):
    name = ""
    if len(ast.literal_eval(dataset)) > 5:
        a = 5
    else:
        a = len(ast.literal_eval(dataset))
    for i in range(a):
     #   name += ast.literal_eval(dataset[0])[i]['character']
     #   name += ", "
        name += ast.literal_eval(dataset)[i]['name']
        name += ", "
    return name

# Replacing the Cast Column with our newly found cast
a = merged_data.copy()
cast_list = []
for i in range(len(merged_data)):
    cast_list.append(get_cast_name(a['cast'][i]))

merged_data['cast'] = cast_list
print("Cast list is done...")

# Renaming more columns
# merged_data.rename(columns={"original_language": "Language", "original_title":"Title"})


# Renaming the genre list
def get_genre(dataset):
    name = ""
    for i in range(len(ast.literal_eval(dataset))):
        name += ast.literal_eval(dataset)[i]['name']
        name += ', '
    return name

genre_list = []
for i in range(len(merged_data)):
    genre_list.append(get_genre(merged_data['genres'][i]))
    
merged_data['genres'] = genre_list
print("Genre List is done...")

# Renaming the country
def get_country(dataset):
    name = ""
    for i in range(len(ast.literal_eval(dataset))):
        name += ast.literal_eval(dataset)[i]['name']
        name += ', '
    return name

country_list = []
for i in range(len(merged_data)):
    country_list.append(get_country(merged_data['production_countries'][i]))
    
merged_data['production_countries'] = country_list
print("Country List is done...")

# Renaming the companies
def get_companies(dataset):
    name = ""
    for i in range(len(ast.literal_eval(dataset))):
        name += ast.literal_eval(dataset)[i]['name']
        name += ', '
    return name

company_list = []
for i in range(len(merged_data)):
    company_list.append(get_country(merged_data['production_companies'][i]))
    
merged_data['production_companies'] = company_list
print("Company list is done...")

# Renaming the Language Column
def get_language(dataset):
    name = ""
    for i in range(len(ast.literal_eval(dataset))):
        name += ast.literal_eval(dataset)[i]['name']
        name += ', '
    return name

lang_list = []
for i in range(len(merged_data)):
    lang_list.append(get_language(merged_data['spoken_languages'][i]))
    
merged_data['spoken_languages'] = lang_list
print("Language list is done...")

# Filling Nan values of the columns
merged_data['homepage'] = merged_data['homepage'].fillna('None')
merged_data['overview'] = merged_data['overview'].fillna('None')
merged_data['release_date'] = merged_data['release_date'].fillna('None')

merged_data = merged_data.rename(columns={"original_language": "Language", "budget":"Budget", "genres":"Genres","homepage":"Webpage","overview":"Overview","production_companies":"Production Company","production_countries":"Country","spoken_languages":"Available Languages","release_date":"Date of Release","title":"Title","cast":"Cast","crew":"Crew","rating":"Rating"})
merged_data = merged_data.drop(columns='original_title')
year = []
for i in range(merged_data.shape[0]):
    year.append(merged_data['Date of Release'][i][:4])
merged_data['Date of Release'] = year

merged_data.head()

Movies dataset is (100004, 3)
Links dataset is (9125, 2)
Keywords dataset is (46419, 2)
Metadata dataset is (45466, 19)
Credits dataset is (45476, 3)
Ratings dataset is (9066, 3)
Final Dataset Size (9031, 20)
Cast list is done...
Genre List is done...
Country List is done...
Company list is done...
Language list is done...

,Budget,Genres,Webpage,id,imdbId,Language,Overview,popularity,Production Company,Country,Date of Release,revenue,runtime,Available Languages,Title,movieId,Rating,Cast,Crew
0,30000000,"Animation, Comedy, Family,",http://toystory.disney.com/toy-story,862,114709,en,"Led by Woody, Andy's toys live happily in his ...",21.9469,"Pixar Animation Studios,","United States of America,",1995,373554033.0,81.0,"English,",Toy Story,1,3.872470,"Tom Hanks, Tim Allen, Don Rickles, Jim Varney,...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de..."
1,65000000,"Adventure, Fantasy, Family,",None,8844,113497,en,When siblings Judy and Peter discover an encha...,17.0155,"TriStar Pictures, Teitler Film, Interscope Com...","United States of America,",1995,262797249.0,104.0,"English, Franais,",Jumanji,2,3.401869,"Robin Williams, Jonathan Hyde, Kirsten Dunst, ...","[{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de..."
2,0,"Romance, Comedy,",None,15602,113228,en,A family wedding reignites the ancient feud be...,11.7129,"Warner Bros., Lancaster Gate,","United States of America,",1995,0.0,101.0,"English,",Grumpier Old Men,3,3.161017,"Walter Matthau, Jack Lemmon, Ann-Margret, Soph...","[{'credit_id': '52fe466a9251416c75077a89', 'de..."
3,16000000,"Comedy, Drama, Romance,",None,31357,114885,en,"Cheated on, mistreated and stepped on, the wom...",3.85949,"Twentieth Century Fox Film Corporation,","United States of America,",1995,81452156.0,127.0,"English,",Waiting to Exhale,4,2.384615,"Whitney Houston, Angela Bassett, Loretta Devin...","[{'credit_id': '52fe44779251416c91011acb', 'de..."
4,0,"Comedy,",None,11862,113041,en,Just when George Banks has recovered from his ...,8.38752,"Sandollar Productions, Touchstone Pictures,","United States of America,",1995,76578911.0,106.0,"English,",Father of the Bride Part II,5,3.267857,"Steve Martin, Diane Keaton, Martin Short, Kimb...","[{'credit_id': '52fe44959251416c75039ed7', 'de..."

# Movie Recommender (Content Based Filtering)

We will first try content based filtering

In [5]:
# Function to merge relevant columns
def merging_features(data):
    features = []
    for i in range(0, data.shape[0]):
        features.append(data['Genres'][i] + data['Language'][i] + ", " + data['Production Company'][i] + " "+ data['Date of Release'][i] + " " + data['Country'][i]  + " "+data['Title'][i] + " "+data['Cast'][i] )
    return features

In [6]:
merged_data['Merged Features'] = merging_features(merged_data)
merged_data[['Merged Features']].head()

                                     Merged Features
0  Animation, Comedy, Family, en, Pixar Animation...
1  Adventure, Fantasy, Family, en, TriStar Pictur...
2  Romance, Comedy, en, Warner Bros., Lancaster G...
3  Comedy, Drama, Romance, en, Twentieth Century ...
4  Comedy, en, Sandollar Productions, Touchstone ...

In [7]:
# Try to find the count of unique words
countmatrix = CountVectorizer().fit_transform(merged_data['Merged Features'])
print(countmatrix.toarray())

[[0 0 0 ... 0 0 0]
 [0 0 0 ... 0 0 0]
 [0 0 0 ... 0 0 0]
 ...
 [0 0 0 ... 0 0 0]
 [0 0 0 ... 0 0 0]
 [0 0 0 ... 0 0 0]]

In [8]:
# Obtain the angle between the vectorized words
cosinesimilarity = cosine_similarity(countmatrix)
print(cosinesimilarity)

[[1.         0.26923077 0.27456259 ... 0.18156826 0.25064021 0.1132277 ]
 [0.26923077 1.         0.23533936 ... 0.18156826 0.25064021 0.1132277 ]
 [0.27456259 0.23533936 1.         ... 0.18516402 0.25560386 0.11547005]
 ...
 [0.18156826 0.18156826 0.18516402 ... 1.         0.30988989 0.08908708]
 [0.25064021 0.25064021 0.25560386 ... 0.30988989 1.         0.10540926]
 [0.1132277  0.1132277  0.11547005 ... 0.08908708 0.10540926 1.        ]]

In [9]:
# TAKE NOTE THERE ARE TWO THE AVENGERS
merged_data['Index'] = merged_data.index
movie_id = merged_data[merged_data['Title'] == 'Toy Story 2']['Index'].values[0]
movie_id

2505

In [10]:
# Obtain the scores from the cosine similarity to the movie The Avengers
scores = list(enumerate(cosinesimilarity[movie_id]))
sorted_scores = sorted(scores, key = lambda x: x[1], reverse = True)
sorted_scores = sorted_scores[1:]
sorted_scores

[(0, 0.8076923076923074),
 (7508, 0.7647748927656914),
 (8385, 0.6827887419989188),
 (9019, 0.6076436202501997),
 (8027, 0.5883484054145522),
 (8030, 0.5883484054145522),
 (6290, 0.5765566601970552),
 (8043, 0.570781792985393),
 (8051, 0.5547001962252291),
 (7336, 0.5399055247990169),
 (8029, 0.5399055247990169),
 (7671, 0.5262348115842175),
 (8384, 0.5084751798731267),
 (7194, 0.4999999999999999),
 (7802, 0.4907164920657184),
 (7709, 0.48181205582971576),
 (7723, 0.4803844614152615),
 (8671, 0.47343207647399926),
 (3802, 0.4734320764739992),
 (6592, 0.4734320764739992),
 (4599, 0.4706787243316417),
 (6940, 0.4654746681256314),
 (8830, 0.4654746681256314),
 (1867, 0.45790546988962544),
 (6399, 0.45790546988962544),
 (7787, 0.45790546988962544),
 (8020, 0.45790546988962544),
 (7051, 0.4529108136578384),
 (8997, 0.4506939094329988),
 (8290, 0.4447495899966607),
 (6247, 0.4372373160976032),
 (8126, 0.43701422443753773),
 (8539, 0.43701422443753773),
 (6633, 0.4309458036856673),
 (5604, 0.4296689244236597),
 (7736, 0.4296689244236597),
 (8506, 0.4296689244236597),
 (7748, 0.4280863447390448),
 (1741, 0.42796049251091306),
 (5217, 0.4226819722058081),
 (6038, 0.4226819722058081),
 (8028, 0.4226819722058081),
 (8847, 0.4226819722058081),
 (7221, 0.4191368221424546),
 (6529, 0.4160251471689219),
 (8199, 0.4160251471689219),
 (6926, 0.41516824585301854),
 (7610, 0.41516824585301854),
 (8239, 0.41516824585301854),
 (8554, 0.4139186771923579),
 (1816, 0.40967324519935133),
 (4392, 0.4096732451993513),
 (8983, 0.4096732451993513),
 (8991, 0.40929374234328036),
 (2058, 0.4089304100547653),
 (8315, 0.4089304100547653),
 (4141, 0.4082482904638631),
 (6630, 0.4082482904638631),
 (7512, 0.40768712416360564),
 (1203, 0.40360367639778755),
 (6330, 0.40360367639778755),
 (6344, 0.40360367639778755),
 (7800, 0.40360367639778755),
 (8039, 0.40360367639778755),
 (7283, 0.4036036763977875),
 (7357, 0.4031128874149275),
 (5437, 0.40059637240107626),
 (8143, 0.40059637240107626),
 (6460, 0.4003203845127179),
 (7149, 0.3977961264790775),
 (8335, 0.3977961264790775),
 (8632, 0.3977961264790775),
 (2698, 0.39467610868816316),
 (8882, 0.39467610868816316),
 (5868, 0.3938631807216881),
 (6392, 0.3938631807216881),
 (6681, 0.3938631807216881),
 (7062, 0.3938631807216881),
 (7322, 0.3938631807216881),
 (7692, 0.3938631807216881),
 (8276, 0.3938631807216881),
 (8930, 0.3938631807216881),
 (279, 0.3922322702763681),
 (7347, 0.3922322702763681),
 (7765, 0.3922322702763681),
 (4105, 0.392232270276368),
 (6488, 0.392232270276368),
 (7803, 0.3922322702763679),
 (6213, 0.3887965929604765),
 (2212, 0.3874584745219908),
 (8102, 0.3874584745219908),
 (8150, 0.3874584745219908),
 (8777, 0.3874584745219908),
 (3866, 0.3868955281314966),
 (6962, 0.3868955281314966),
 (8964, 0.3851644432598217),
 (1453, 0.3846153846153846),
 (6500, 0.3846153846153846),
 (2052, 0.3843530573929038),
 (1653, 0.38135638490484514),
 (4678, 0.38135638490484514),
 (6668, 0.38135638490484514),
 (2551, 0.37742567804819865),
 (4850, 0.37742567804819865),
 (5607, 0.37742567804819865),
 (7031, 0.37742567804819865),
 (8014, 0.37742567804819865),
 (7656, 0.3768445758127967),
 (6779, 0.37553380809940534),
 (7622, 0.37553380809940534),
 (7897, 0.37553380809940534),
 (8407, 0.37553380809940534),
 (4135, 0.3718842189989051),
 (1342, 0.37188421899890506),
 (4245, 0.3706246583305506),
 (7151, 0.3706246583305506),
 (2780, 0.3699700366979719),
 (3415, 0.3699700366979719),
 (5374, 0.3699700366979719),
 (8544, 0.3699700366979719),
 (863, 0.36997003669797185),
 (5614, 0.36997003669797185),
 (1905, 0.36464644927248774),
 (5572, 0.36464644927248774),
 (8485, 0.36464644927248774),
 (8372, 0.36417852036461484),
 (647, 0.3641785203646148),
 (5052, 0.3641785203646148),
 (3997, 0.3631365196012815),
 (94, 0.3602883460614461),
 (1286, 0.3602883460614461),
 (1788, 0.3602883460614461),
 (2150, 0.3602883460614461),
 (2528, 0.3602883460614461),
 (7697, 0.35954624775333727),
 (1684, 0.3588891627327475),
 (1579, 0.35805743701971643),
 (2712, 0.35805743701971643),
 (8946, 0.35805743701971643),
 (8634, 0.3570027736477083),
 (6863, 0.35478743759344966),
 (6114, 0.3547874375934496),
 (1698, 0.35465423412053854),
 (3697, 0.35465423412053854),
 (4617, 0.35465423412053854),
 (1418, 0.3544587784792832),
 (528, 0.3530090432487313),
 (543, 0.3530090432487313),
 (813, 0.3530090432487313),
 (836, 0.3530090432487313),
 (1192, 0.3530090432487313),
 (8299, 0.3530090432487313),
 (8846, 0.3530090432487313),
 (2884, 0.35223497683817345),
 (4231, 0.35223497683817345),
 (7058, 0.35223497683817345),
 (8348, 0.3508232077228117),
 (2996, 0.3499566196366779),
 (3216, 0.3499566196366779),
 (7457, 0.3499566196366779),
 (2537, 0.3466876226407683),
 (4352, 0.3466876226407683),
 (753, 0.34668762264076824),
 (4862, 0.34668762264076824),
 (8392, 0.34668762264076824),
 (164, 0.34615384615384615),
 (211, 0.34615384615384615),
 (521, 0.34615384615384615),
 (1247, 0.34615384615384615),
 (2304, 0.34615384615384615),
 (2324, 0.34615384615384615),
 (4292, 0.34615384615384615),
 (4812, 0.34615384615384615),
 (8064, 0.34615384615384615),
 (8608, 0.34615384615384615),
 (2397, 0.3454408611617303),
 (7141, 0.3454408611617303),
 (8327, 0.3454408611617303),
 (6082, 0.34320323649182205),
 (3213, 0.3423683940087304),
 (7523, 0.3423683940087304),
 (8637, 0.3423683940087304),
 (8726, 0.3423683940087304),
 (361, 0.34139437099945946),
 (7105, 0.34139437099945946),
 (7509, 0.34139437099945946),
 (6112, 0.3413943709994594),
 (5385, 0.3410955201203233),
 (2610, 0.3396831102433788),
 (316, 0.33968311024337877),
 (2539, 0.33968311024337877),
 (5976, 0.33968311024337877),
 (7399, 0.33968311024337877),
 (7739, 0.3396831102433787),
 (1473, 0.33633639699815626),
 (4131, 0.33633639699815626),
 (7386, 0.33633639699815626),
 (4098, 0.3363363969981562),
 (1661, 0.3344968040028364),
 (4982, 0.3344968040028364),
 (837, 0.3335621924974955),
 (5715, 0.3335621924974955),
 (6304, 0.3335621924974955),
 (7158, 0.3335621924974955),
 (5181, 0.33295604590814587),
 (5855, 0.3328751429678414),
 (7331, 0.3328751429678414),
 (7361, 0.3328751429678414),
 (6422, 0.3328751429678413),
 (46, 0.33149677206589795),
 (3193, 0.33149677206589795),
 (6189, 0.33149677206589795),
 (527, 0.32898173250501855),
 (2517, 0.32776066832815337),
 (603, 0.3277606683281533),
 (625, 0.3277606683281533),
 (905, 0.3277606683281533),
 (3666, 0.3277606683281533),
 (4153, 0.3277606683281533),
 (6706, 0.3277606683281533),
 (7688, 0.3277606683281533),
 (8639, 0.3277606683281533),
 (321, 0.32714432804381227),
 (699, 0.32714432804381227),
 (1581, 0.32714432804381227),
 (1633, 0.32714432804381227),
 (1778, 0.32714432804381227),
 (1780, 0.32714432804381227),
 (2436, 0.32714432804381227),
 (3161, 0.32714432804381227),
 (3484, 0.32714432804381227),
 (3738, 0.32714432804381227),
 (7118, 0.32714432804381227),
 (8901, 0.32714432804381227),
 (3413, 0.32686022523030667),
 (5521, 0.32686022523030667),
 (5726, 0.32686022523030667),
 (7353, 0.32686022523030667),
 (8944, 0.32686022523030667),
 (5148, 0.32635697593225277),
 (5836, 0.32635697593225277),
 (8969, 0.3252218177939955),
 (2509, 0.3235751144647171),
 (2161, 0.3232634750642192),
 (3950, 0.3228981366822131),
 (328, 0.3224129401095805),
 (3052, 0.3224129401095805),
 (5861, 0.3224129401095805),
 (7270, 0.3224129401095805),
 (283, 0.3222516933177448),
 (1109, 0.3222516933177448),
 (1610, 0.3222516933177448),
 (2182, 0.3222516933177448),
 (2374, 0.3222516933177448),
 (3641, 0.3222516933177448),
 (3975, 0.3222516933177448),
 (4623, 0.3222516933177448),
 (7030, 0.3222516933177448),
 (6437, 0.3215879404125774),
 (296, 0.3202563076101743),
 (483, 0.3202563076101743),
 (822, 0.3202563076101743),
 (931, 0.3202563076101743),
 (1656, 0.3202563076101743),
 (1882, 0.3202563076101743),
 (1935, 0.3202563076101743),
 (2008, 0.3202563076101743),
 (2009, 0.3202563076101743),
 (2637, 0.3202563076101743),
 (4799, 0.3202563076101743),
 (5117, 0.3202563076101743),
 (5768, 0.3202563076101743),
 (6376, 0.3202563076101743),
 (6776, 0.3202563076101743),
 (7526, 0.3202563076101743),
 (7964, 0.3202563076101743),
 (576, 0.318142381487889),
 (3453, 0.318142381487889),
 (1646, 0.3170114791543561),
 (2582, 0.3170114791543561),
 (4160, 0.3170114791543561),
 (6049, 0.3170114791543561),
 (6448, 0.3170114791543561),
 (7538, 0.3170114791543561),
 (5470, 0.3149448894660932),
 (215, 0.31448545101657555),
 (917, 0.31448545101657555),
 (2734, 0.31448545101657555),
 (4889, 0.31448545101657555),
 (7745, 0.31448545101657555),
 (3002, 0.3140371465106639),
 (4355, 0.3140371465106639),
 (12, 0.31378581622109447),
 (119, 0.31378581622109447),
 (555, 0.31378581622109447),
 (830, 0.31378581622109447),
 (835, 0.31378581622109447),
 (865, 0.31378581622109447),
 (986, 0.31378581622109447),
 (1037, 0.31378581622109447),
 (1300, 0.31378581622109447),
 (1639, 0.31378581622109447),
 (1651, 0.31378581622109447),
 (1657, 0.31378581622109447),
 (1711, 0.31378581622109447),
 (1779, 0.31378581622109447),
 (1886, 0.31378581622109447),
 (1929, 0.31378581622109447),
 (2556, 0.31378581622109447),
 (3049, 0.31378581622109447),
 (3132, 0.31378581622109447),
 (3194, 0.31378581622109447),
 (3223, 0.31378581622109447),
 (3658, 0.31378581622109447),
 (6504, 0.31378581622109447),
 (5999, 0.31201886037669146),
 (6788, 0.31201886037669146),
 (6229, 0.3120188603766914),
 (6979, 0.3120188603766914),
 (8838, 0.3120188603766914),
 (392, 0.31008683647302115),
 (2930, 0.31008683647302115),
 (4574, 0.31008683647302115),
 (6784, 0.31008683647302115),
 (7385, 0.31008683647302115),
 (8511, 0.31008683647302115),
 (1659, 0.3076923076923077),
 (1774, 0.3076923076923077),
 (1866, 0.3076923076923077),
 (2516, 0.3076923076923077),
 (4184, 0.3076923076923077),
 (4454, 0.3076923076923077),
 (4723, 0.3076923076923077),
 (4800, 0.3076923076923077),
 (5055, 0.3076923076923077),
 (5577, 0.3076923076923077),
 (6723, 0.3076923076923077),
 (6947, 0.3076923076923077),
 (1432, 0.3072549338995135),
 (494, 0.30725493389951347),
 (2242, 0.30725493389951347),
 (5579, 0.30725493389951347),
 (7125, 0.30725493389951347),
 (1237, 0.3069703067574603),
 (1356, 0.3069703067574603),
 (1593, 0.3069703067574603),
 (1663, 0.3069703067574603),
 (2219, 0.3069703067574603),
 (2254, 0.3069703067574603),
 (2925, 0.3069703067574603),
 (3025, 0.3069703067574603),
 (4035, 0.3069703067574603),
 (4295, 0.3069703067574603),
 (5268, 0.3069703067574603),
 (6822, 0.3069703067574603),
 (8732, 0.3069703067574603),
 (8859, 0.3069703067574603),
 (8460, 0.3069249070224257),
 (3560, 0.30628194591584446),
 (8885, 0.30382181012509996),
 (623, 0.3038218101250999),
 (7740, 0.3038218101250999),
 (493, 0.3027027572983406),
 (846, 0.3027027572983406),
 (1141, 0.3027027572983406),
 (1210, 0.3027027572983406),
 (6801, 0.3027027572983406),
 (7444, 0.3027027572983406),
 (7470, 0.3027027572983406),
 (6041, 0.30270275729834056),
 (1650, 0.30261376633440124),
 (8734, 0.30194054243855895),
 (828, 0.3019405424385589),
 (832, 0.3019405424385589),
 (871, 0.3019405424385589),
 (875, 0.3019405424385589),
 (1641, 0.3019405424385589),
 (1700, 0.3019405424385589),
 (1746, 0.3019405424385589),
 (1837, 0.3019405424385589),
 (2001, 0.3019405424385589),
 (3236, 0.3019405424385589),
 (3262, 0.3019405424385589),
 (3368, 0.3019405424385589),
 (4056, 0.3019405424385589),
 (4057, 0.3019405424385589),
 (4200, 0.3019405424385589),
 (4579, 0.3019405424385589),
 (5789, 0.3019405424385589),
 (7579, 0.3019405424385589),
 (7710, 0.3019405424385589),
 (82, 0.2995723447576391),
 (224, 0.2995723447576391),
 (545, 0.2995723447576391),
 (928, 0.2995723447576391),
 (1594, 0.2995723447576391),
 (2179, 0.2995723447576391),
 (4425, 0.2995723447576391),
 (4548, 0.2995723447576391),
 (5617, 0.2995723447576391),
 (711, 0.2990743022772896),
 (3169, 0.29834709485930816),
 (3877, 0.29834709485930816),
 (4451, 0.29834709485930816),
 (7289, 0.29834709485930816),
 (398, 0.29649972666444047),
 (797, 0.29649972666444047),
 (831, 0.29649972666444047),
 (1477, 0.29649972666444047),
 (2049, 0.29649972666444047),
 (2051, 0.29649972666444047),
 (2066, 0.29649972666444047),
 (2105, 0.29649972666444047),
 (3580, 0.29649972666444047),
 (3826, 0.29649972666444047),
 (3945, 0.29649972666444047),
 (5426, 0.29649972666444047),
 (6374, 0.29649972666444047),
 (6554, 0.29649972666444047),
 (6958, 0.29649972666444047),
 (7226, 0.29649972666444047),
 (4040, 0.29565619799454135),
 (5463, 0.29565619799454135),
 (6968, 0.29565619799454135),
 (7186, 0.29565619799454135),
 (7701, 0.29565619799454135),
 (8015, 0.29565619799454135),
 (8810, 0.29565619799454135),
 (5535, 0.29417420270727607),
 (7624, 0.29417420270727607),
 (7949, 0.29417420270727607),
 (8325, 0.29417420270727607),
 (3270, 0.29417420270727596),
 (6637, 0.29417420270727596),
 (6948, 0.29417420270727596),
 (7874, 0.29417420270727596),
 (64, 0.2926847035024818),
 (384, 0.2926847035024818),
 (454, 0.2926847035024818),
 (1787, 0.2926847035024818),
 (2059, 0.2926847035024818),
 (2070, 0.2926847035024818),
 (2152, 0.2926847035024818),
 (2203, 0.2926847035024818),
 (2211, 0.2926847035024818),
 (2267, 0.2926847035024818),
 (2311, 0.2926847035024818),
 (2347, 0.2926847035024818),
 (2479, 0.2926847035024818),
 (2553, 0.2926847035024818),
 (2882, 0.2926847035024818),
 (3139, 0.2926847035024818),
 (3171, 0.2926847035024818),
 (3319, 0.2926847035024818),
 (3624, 0.2926847035024818),
 (3626, 0.2926847035024818),
 (4068, 0.2926847035024818),
 (4077, 0.2926847035024818),
 (5637, 0.2926847035024818),
 (6103, 0.2926847035024818),
 (7738, 0.2926847035024818),
 (8174, 0.2926847035024818),
 (7261, 0.29268470350248177),
 (671, 0.2923526731023431),
 (999, 0.2913428162916919),
 (1317, 0.2913428162916919),
 (3159, 0.2913428162916919),
 (7163, 0.2913428162916919),
 (8881, 0.2913428162916919),
 (526, 0.29134281629169184),
 (567, 0.29134281629169184),
 (838, 0.29134281629169184),
 (892, 0.29134281629169184),
 (1613, 0.29134281629169184),
 (1642, 0.29134281629169184),
 (1648, 0.29134281629169184),
 (2726, 0.29134281629169184),
 (3006, 0.29134281629169184),
 (3152, 0.29134281629169184),
 (4052, 0.29134281629169184),
 (4087, 0.29134281629169184),
 (4116, 0.29134281629169184),
 (4818, 0.29134281629169184),
 (5376, 0.29134281629169184),
 (5411, 0.29134281629169184),
 (5566, 0.29134281629169184),
 (5730, 0.29134281629169184),
 (6817, 0.29134281629169184),
 (6819, 0.29134281629169184),
 (7394, 0.29134281629169184),
 (1644, 0.29017164609862245),
 (1677, 0.29017164609862245),
 (4483, 0.29017164609862245),
 (7333, 0.29017164609862245),
 (7371, 0.29017164609862245),
 (500, 0.28644594961577313),
 (552, 0.28644594961577313),
 (839, 0.28644594961577313),
 (1154, 0.28644594961577313),
 (1696, 0.28644594961577313),
 (1701, 0.28644594961577313),
 (1781, 0.28644594961577313),
 (2153, 0.28644594961577313),
 (2168, 0.28644594961577313),
 (2249, 0.28644594961577313),
 (2530, 0.28644594961577313),
 (2779, 0.28644594961577313),
 (2880, 0.28644594961577313),
 (2949, 0.28644594961577313),
 (2999, 0.28644594961577313),
 (3019, 0.28644594961577313),
 (3066, 0.28644594961577313),
 (3090, 0.28644594961577313),
 (3734, 0.28644594961577313),
 (5112, 0.28644594961577313),
 (5129, 0.28644594961577313),
 (5628, 0.28644594961577313),
 (5642, 0.28644594961577313),
 (6617, 0.28644594961577313),
 (6813, 0.28644594961577313),
 (7781, 0.28644594961577313),
 (8515, 0.28644594961577313),
 (1702, 0.28632814333910006),
 (2287, 0.28632814333910006),
 (2316, 0.28632814333910006),
 (122, 0.2862512870383358),
 (17, 0.28625128703833574),
 (120, 0.28625128703833574),
 (129, 0.28625128703833574),
 (239, 0.28625128703833574),
 (431, 0.28625128703833574),
 (433, 0.28625128703833574),
 (443, 0.28625128703833574),
 (474, 0.28625128703833574),
 (884, 0.28625128703833574),
 (1350, 0.28625128703833574),
 (1367, 0.28625128703833574),
 (1435, 0.28625128703833574),
 (1483, 0.28625128703833574),
 (1598, 0.28625128703833574),
 (1643, 0.28625128703833574),
 (1731, 0.28625128703833574),
 (1864, 0.28625128703833574),
 (2076, 0.28625128703833574),
 (2157, 0.28625128703833574),
 (2172, 0.28625128703833574),
 (2277, 0.28625128703833574),
 (2315, 0.28625128703833574),
 (2317, 0.28625128703833574),
 (2567, 0.28625128703833574),
 (2827, 0.28625128703833574),
 (2828, 0.28625128703833574),
 (2850, 0.28625128703833574),
 (2885, 0.28625128703833574),
 (3369, 0.28625128703833574),
 (3477, 0.28625128703833574),
 (3551, 0.28625128703833574),
 (3617, 0.28625128703833574),
 (3629, 0.28625128703833574),
 (4329, 0.28625128703833574),
 (4429, 0.28625128703833574),
 (4645, 0.28625128703833574),
 (4945, 0.28625128703833574),
 (5350, 0.28625128703833574),
 (5377, 0.28625128703833574),
 (5659, 0.28625128703833574),
 (6021, 0.28625128703833574),
 (6107, 0.28625128703833574),
 (6701, 0.28625128703833574),
 (7128, 0.28625128703833574),
 (7680, 0.28625128703833574),
 (8373, 0.28625128703833574),
 (8703, 0.28625128703833574),
 (8855, 0.28625128703833574),
 (980, 0.2853908964926965),
 (4282, 0.2853908964926965),
 (4284, 0.2853908964926965),
 (633, 0.28306925853614895),
 (7108, 0.28306925853614895),
 (3973, 0.2826334318595975),
 (8137, 0.2826334318595975),
 (8202, 0.2826334318595975),
 (8805, 0.2826334318595975),
 (130, 0.2817879814705388),
 (649, 0.2817879814705388),
 (821, 0.2817879814705388),
 (829, 0.2817879814705388),
 (1063, 0.2817879814705388),
 (1813, 0.2817879814705388),
 (1859, 0.2817879814705388),
 (2178, 0.2817879814705388),
 (2407, 0.2817879814705388),
 (2430, 0.2817879814705388),
 (2815, 0.2817879814705388),
 (2846, 0.2817879814705388),
 (2847, 0.2817879814705388),
 (3326, 0.2817879814705388),
 (3944, 0.2817879814705388),
 (4630, 0.2817879814705388),
 (5552, 0.2817879814705388),
 (5973, 0.2817879814705388),
 (6018, 0.2817879814705388),
 (6802, 0.2817879814705388),
 (6905, 0.2817879814705388),
 (7729, 0.2817879814705388),
 (85, 0.28022426915890253),
 (386, 0.28022426915890253),
 (505, 0.28022426915890253),
 (556, 0.28022426915890253),
 (665, 0.28022426915890253),
 (680, 0.28022426915890253),
 (746, 0.28022426915890253),
 (819, 0.28022426915890253),
 (870, 0.28022426915890253),
 (991, 0.28022426915890253),
 (1122, 0.28022426915890253),
 (1173, 0.28022426915890253),
 (1274, 0.28022426915890253),
 (1408, 0.28022426915890253),
 (1457, 0.28022426915890253),
 (1597, 0.28022426915890253),
 (2146, 0.28022426915890253),
 (2319, 0.28022426915890253),
 (2336, 0.28022426915890253),
 (2355, 0.28022426915890253),
 (2437, 0.28022426915890253),
 (2510, 0.28022426915890253),
 (2579, 0.28022426915890253),
 (2816, 0.28022426915890253),
 (2887, 0.28022426915890253),
 (2998, 0.28022426915890253),
 (3023, 0.28022426915890253),
 (3041, 0.28022426915890253),
 (3264, 0.28022426915890253),
 (3302, 0.28022426915890253),
 (3312, 0.28022426915890253),
 (3615, 0.28022426915890253),
 (3634, 0.28022426915890253),
 (3719, 0.28022426915890253),
 (3821, 0.28022426915890253),
 (3892, 0.28022426915890253),
 (3940, 0.28022426915890253),
 (3965, 0.28022426915890253),
 (4071, 0.28022426915890253),
 (4279, 0.28022426915890253),
 (4348, 0.28022426915890253),
 (4514, 0.28022426915890253),
 (4687, 0.28022426915890253),
 (4901, 0.28022426915890253),
 (4911, 0.28022426915890253),
 (4940, 0.28022426915890253),
 (4977, 0.28022426915890253),
 (5141, 0.28022426915890253),
 (5288, 0.28022426915890253),
 (5452, 0.28022426915890253),
 (5491, 0.28022426915890253),
 (6373, 0.28022426915890253),
 (6887, 0.28022426915890253),
 (7064, 0.28022426915890253),
 (7206, 0.28022426915890253),
 (7334, 0.28022426915890253),
 (7886, 0.28022426915890253),
 (8176, 0.28022426915890253),
 (8255, 0.28022426915890253),
 (2139, 0.279078152825719),
 (2409, 0.279078152825719),
 (6655, 0.279078152825719),
 (7992, 0.279078152825719),
 (1352, 0.27735009811261463),
 (2266, 0.27735009811261463),
 (2332, 0.27735009811261463),
 (3313, 0.27735009811261463),
 (3513, 0.27735009811261463),
 (5434, 0.27735009811261463),
 (6120, 0.27735009811261463),
 (6666, 0.27735009811261463),
 (7741, 0.27735009811261463),
 (8550, 0.27735009811261463),
 (8567, 0.27735009811261463),
 (666, 0.2773500981126146),
 (998, 0.2773500981126146),

In [11]:
# Create a loop to print the first 7 Similar Movies
j = 0
print("The top 7 recommended movies to The Avengers" 'are:\n')
for item in sorted_scores:
    movie_title = merged_data[merged_data.Index == item[0]]['Title'].values[0]
    print(j+1, movie_title)
    j+=1
    if(j >= 7):
        break

The top 7 recommended movies to The Avengersare:

1 Toy Story
2 Toy Story 3
3 Toy Story of Terror!
4 Piper
5 Presto
6 One Man Band
7 Luxo Jr.

# TFID Vectorizer Content Based

In [12]:
# We need the title, id, overview column
merged_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9031 entries, 0 to 9030
Data columns (total 21 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Budget               9031 non-null   object
 1   Genres               9031 non-null   object
 2   Webpage              9031 non-null   object
 3   id                   9031 non-null   int64
 4   imdbId               9031 non-null   int64
 5   Language             9031 non-null   object
 6   Overview             9031 non-null   object
 7   popularity           9031 non-null   object
 8   Production Company   9031 non-null   object
 9   Country              9031 non-null   object
 10  Date of Release      9031 non-null   object
 11  revenue              9031 non-null   float64
 12  runtime              9031 non-null   float64
 13  Available Languages  9031 non-null   object
 14  Title                9031 non-null   object
 15  movieId              9031 non-null   int64
 16  Rating               9031 non-null   float64
 17  Cast                 9031 non-null   object
 18  Crew                 9031 non-null   object
 19  Merged Features      9031 non-null   object
 20  Index                9031 non-null   int64
dtypes: float64(3), int64(4), object(14)
memory usage: 1.8+ MB

In [13]:
# We are converting the Overview portion into a vector
merged_data.head(1)['Overview']

0    Led by Woody, Andy's toys live happily in his ...
Name: Overview, dtype: object

In [14]:
from sklearn.feature_extraction.text import TfidfVectorizer
tfid_copy = merged_data.copy()
tfv = TfidfVectorizer(min_df = 3, max_features=None,
        strip_accents= 'unicode',analyzer='word',
        token_pattern = r'\w{1,}',
        ngram_range=(1,3),
        stop_words = 'english')
# stop_words = 'english', removes , . '' ! and words like this, is,she,is,that which are very repetitive
tfid_copy['Overview'] = tfid_copy['Overview'].fillna('')

In [15]:
# Fitting the Term-Frequency Inverse DF on the overview text
tfv_matrix = tfv.fit_transform(tfid_copy['Overview'])

In [30]:
tfv_matrix.toarray()

array([[0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       ...,
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.]])

A sparse matrix is basically a matrix with alot of zeros. The matrix are also the vectors

In [16]:
# Sigmoid is responsible for transforming your values from 0 to 1
from sklearn.metrics.pairwise import sigmoid_kernel

# Compute the sigmoid kernel
sig = sigmoid_kernel(tfv_matrix, tfv_matrix)

In [31]:
sig

array([[0.76161694, 0.76159469, 0.76159427, ..., 0.76159439, 0.76159425,
        0.76159437],
       [0.76159469, 0.76161694, 0.76159533, ..., 0.76159443, 0.76159424,
        0.76159421],
       [0.76159427, 0.76159533, 0.76161694, ..., 0.76159416, 0.7615942 ,
        0.76159419],
       ...,
       [0.76159439, 0.76159443, 0.76159416, ..., 0.76161694, 0.76159441,
        0.76159508],
       [0.76159425, 0.76159424, 0.7615942 , ..., 0.76159441, 0.76161694,
        0.76159418],
       [0.76159437, 0.76159421, 0.76159419, ..., 0.76159508, 0.76159418,
        0.76161694]])

In [17]:
# Reverse mapping of indices and movie_titles
indices = pd.Series(tfid_copy.index, index=tfid_copy['Title']).drop_duplicates()

In [18]:
indices

Title
Toy Story                                                0
Jumanji                                                  1
Grumpier Old Men                                         2
Waiting to Exhale                                        3
Father of the Bride Part II                              4
                                                      ...
Rustom                                                9026
Mohenjo Daro                                          9027
The Beatles: Eight Days a Week - The Touring Years    9028
Band of Brothers                                      9029
Cosmos                                                9030
Length: 9031, dtype: int64

In [19]:
indices['Toy Story']
sorted(list(enumerate(sig[indices['Toy Story']])), key=lambda x:x[1], reverse=True)

[(0, 0.7616169400805992),
 (7508, 0.761606537184093),
 (2505, 0.7616045002095143),
 (6173, 0.7615997317294558),
 (437, 0.7615994024837219),
 (6605, 0.7615977518347714),
 (4979, 0.7615974840582976),
 (894, 0.7615971592983352),
 (1603, 0.7615970630459467),
 (6533, 0.7615970183171367),
 (5129, 0.7615964498428696),
 (7693, 0.7615964474362553),
 (402, 0.76159643172821),
 (6089, 0.7615963719806056),
 (2550, 0.7615962927464899),
 (2618, 0.7615961946200176),
 (2693, 0.7615961479668931),
 (6269, 0.7615960477906294),
 (1796, 0.7615960063562671),
 (2773, 0.7615959482396248),
 (8304, 0.7615959400187765),
 (4926, 0.7615959058424667),
 (6199, 0.7615959028322115),
 (4697, 0.7615958990381282),
 (2241, 0.7615958822083184),
 (7504, 0.7615958477993083),
 (1942, 0.7615958362857813),
 (639, 0.7615957855089235),
 (2419, 0.7615957763183933),
 (8395, 0.7615957577356368),
 (4382, 0.7615957527526745),
 (1556, 0.7615957410369059),
 (7345, 0.7615957100259498),
 (5855, 0.7615957057104932),
 (2426, 0.7615956733220952),
 (529, 0.7615956535274622),
 (6694, 0.7615956430288997),
 (284, 0.7615956302475957),
 (2203, 0.7615956239097712),
 (17, 0.7615955911445267),
 (5352, 0.7615955760565999),
 (830, 0.7615955711265479),
 (8166, 0.7615955652960817),
 (3809, 0.7615955582943124),
 (4077, 0.761595540387936),
 (1229, 0.7615955187505543),
 (2961, 0.7615955144717407),
 (5367, 0.7615954832911537),
 (5273, 0.7615954801006911),
 (2616, 0.7615954562236437),
 (507, 0.7615954559201432),
 (3766, 0.761595455402539),
 (3670, 0.7615954244903194),
 (161, 0.7615954035701296),
 (7179, 0.7615953935309938),
 (7707, 0.7615953848742909),
 (8182, 0.7615953842594763),
 (203, 0.7615953661267726),
 (2425, 0.7615953492710301),
 (2046, 0.7615953471568208),
 (6447, 0.7615953182671589),
 (3802, 0.7615952787855218),
 (3100, 0.7615952669160931),
 (7589, 0.761595261588022),
 (7242, 0.7615952563546398),
 (5564, 0.7615952431809376),
 (7546, 0.7615952418635272),
 (1444, 0.7615952296739255),
 (1746, 0.7615952171943272),
 (774, 0.761595215136312),
 (6270, 0.7615952127055248),
 (7315, 0.7615952085553268),
 (1937, 0.761595207454357),
 (7241, 0.761595180969061),
 (903, 0.7615951799018301),
 (8447, 0.7615951750682342),
 (5844, 0.7615951720964594),
 (8899, 0.7615951698388487),
 (8438, 0.7615951602898678),
 (7394, 0.7615951601432891),
 (7208, 0.7615951442537803),
 (3385, 0.761595139274085),
 (7430, 0.7615951374267635),
 (5554, 0.7615951328810157),
 (1484, 0.7615951288729779),
 (6452, 0.7615951273015303),
 (3959, 0.7615951245272627),
 (3624, 0.7615951217313331),
 (6576, 0.7615951209354462),
 (8886, 0.7615950985343688),
 (1713, 0.7615950958102935),
 (8642, 0.7615950946579486),
 (551, 0.7615950926555406),
 (1703, 0.761595087614078),
 (395, 0.7615950847472678),
 (444, 0.7615950787502449),
 (689, 0.7615950606500012),
 (2009, 0.7615950470470403),
 (5401, 0.7615950412807577),
 (2331, 0.7615950332868991),
 (3082, 0.7615950261679482),
 (637, 0.761595026061429),
 (8867, 0.7615950256953523),
 (6099, 0.7615950242181726),
 (2902, 0.7615950112065845),
 (3414, 0.7615950050482356),
 (5091, 0.7615950028724323),
 (5892, 0.7615949999255103),
 (1419, 0.7615949988147277),
 (7519, 0.7615949987540758),
 (518, 0.7615949974415046),
 (1027, 0.7615949907820512),
 (3970, 0.7615949807271651),
 (4986, 0.7615949797451864),
 (8463, 0.761594976552078),
 (636, 0.7615949743519499),
 (6619, 0.7615949736684469),
 (6254, 0.7615949698480466),
 (5499, 0.761594967716598),
 (381, 0.7615949667338613),
 (1781, 0.761594963295797),
 (4852, 0.7615949606137318),
 (2833, 0.7615949600416514),
 (4941, 0.7615949594184671),
 (3604, 0.7615949584752404),
 (550, 0.7615949577922728),
 (5341, 0.7615949560224415),
 (5496, 0.7615949558037867),
 (1141, 0.7615949480169573),
 (948, 0.7615949402570844),
 (52, 0.7615949389341323),
 (2966, 0.7615949356989964),
 (4453, 0.7615949317804056),
 (3842, 0.7615949315301687),
 (6945, 0.7615949298917883),
 (6007, 0.7615949267421911),
 (5031, 0.7615949256253851),
 (4184, 0.7615949244234621),
 (2623, 0.7615949144668416),
 (6217, 0.7615949101641508),
 (504, 0.7615949079756275),
 (911, 0.7615949076962123),
 (3224, 0.7615949041920254),
 (6503, 0.7615949023912445),
 (5698, 0.7615949002056711),
 (7466, 0.7615948955693116),
 (339, 0.7615948938084491),
 (2542, 0.7615948879923564),
 (3191, 0.7615948874966203),
 (4128, 0.7615948869499747),
 (1414, 0.7615948862537757),
 (6644, 0.7615948855921809),
 (7624, 0.7615948832079587),
 (8511, 0.761594880021208),
 (2765, 0.7615948759927827),
 (3141, 0.7615948751685195),
 (1068, 0.761594874473847),
 (7998, 0.7615948727283582),
 (4167, 0.7615948721898657),
 (5051, 0.7615948713084915),
 (2600, 0.7615948706331741),
 (2762, 0.7615948643862864),
 (862, 0.7615948641487791),
 (6515, 0.7615948640769952),
 (1910, 0.761594863033553),
 (7135, 0.7615948615896563),
 (7124, 0.7615948601710077),
 (2653, 0.7615948593042781),
 (4891, 0.761594858041257),
 (1554, 0.7615948547391088),
 (8729, 0.7615948543782672),
 (261, 0.7615948534290096),
 (4870, 0.7615948532916225),
 (860, 0.7615948491596637),
 (3108, 0.7615948467179858),
 (5513, 0.7615948464948645),
 (1328, 0.7615948439910947),
 (253, 0.7615948422863059),
 (3845, 0.7615948388166862),
 (1766, 0.7615948353797407),
 (3371, 0.7615948339036007),
 (3216, 0.7615948336622699),
 (2807, 0.7615948322294953),
 (6059, 0.7615948312694241),
 (4043, 0.7615948311658047),
 (5838, 0.761594830348019),
 (4723, 0.7615948301362152),
 (6677, 0.761594829143606),
 (3083, 0.7615948242394378),
 (3549, 0.761594823266069),
 (3919, 0.7615948223178781),
 (3943, 0.7615948219150429),
 (6022, 0.7615948205028832),
 (3098, 0.7615948195875376),
 (2106, 0.7615948187934706),
 (5136, 0.761594817567199),
 (5719, 0.7615948161361644),
 (1581, 0.7615948152915685),
 (543, 0.7615948152835751),
 (7371, 0.7615948130144117),
 (3987, 0.7615948124840832),
 (3171, 0.7615948124534062),
 (7668, 0.7615948124247515),
 (1035, 0.7615948121339182),
 (642, 0.7615948119329867),
 (4028, 0.7615948118000225),
 (8080, 0.7615948100802621),
 (7622, 0.7615948094409146),
 (3606, 0.7615948056912547),
 (2477, 0.7615948043587909),
 (6840, 0.7615948040965225),
 (7400, 0.7615948023955266),
 (8085, 0.7615948022293832),
 (5717, 0.7615948009511297),
 (762, 0.7615947995114453),
 (4063, 0.7615947981116152),
 (8722, 0.761594796031619),
 (3937, 0.7615947943227963),
 (8043, 0.76159479423603),
 (6101, 0.7615947939929004),
 (951, 0.7615947936275695),
 (1573, 0.7615947928160458),
 (1475, 0.7615947920974835),
 (4800, 0.7615947917787882),
 (5968, 0.7615947894410543),
 (7196, 0.7615947850963602),
 (1152, 0.7615947841816777),
 (304, 0.7615947833078399),
 (2004, 0.7615947832159982),
 (78, 0.7615947812533543),
 (6019, 0.7615947795704043),
 (722, 0.7615947791031342),
 (4042, 0.761594777930613),
 (7722, 0.7615947779059417),
 (5350, 0.7615947765810164),
 (1323, 0.761594776232638),
 (3029, 0.7615947760576273),
 (1580, 0.7615947758795217),
 (5441, 0.7615947747921332),
 (4183, 0.7615947745608502),
 (8697, 0.7615947721571197),
 (1595, 0.7615947716443687),
 (2967, 0.7615947700126301),
 (1930, 0.7615947689491913),
 (428, 0.7615947684932274),
 (1469, 0.7615947684022502),
 (8961, 0.7615947680109239),
 (8756, 0.7615947647266145),
 (8335, 0.7615947642636367),
 (3258, 0.7615947641633485),
 (7441, 0.7615947628390566),
 (1972, 0.7615947621947852),
 (7841, 0.7615947618040163),
 (202, 0.7615947613458187),
 (4518, 0.7615947610843552),
 (1281, 0.7615947606979727),
 (5799, 0.7615947581841043),
 (7474, 0.7615947575967946),
 (5574, 0.7615947554150353),
 (5538, 0.7615947553291786),
 (1262, 0.7615947548449356),
 (3198, 0.7615947548402181),
 (3058, 0.7615947547006032),
 (8943, 0.7615947538530827),
 (4807, 0.7615947538021051),
 (4996, 0.761594753516192),
 (929, 0.7615947530544098),
 (8385, 0.7615947524272129),
 (2183, 0.7615947503741787),
 (7018, 0.7615947502356691),
 (5960, 0.7615947496353914),
 (7655, 0.7615947495063972),
 (4057, 0.7615947481219235),
 (8564, 0.7615947472659176),
 (2123, 0.7615947472027811),
 (5669, 0.76159474706668),
 (6465, 0.7615947466063034),
 (4722, 0.7615947462684663),
 (2820, 0.7615947460740535),
 (2714, 0.7615947455119932),
 (3248, 0.7615947453324611),
 (4514, 0.7615947441131254),
 (5010, 0.7615947431859766),
 (56, 0.7615947424066791),
 (326, 0.7615947402933287),
 (7820, 0.7615947400661631),
 (2994, 0.7615947396342457),
 (3431, 0.7615947388776417),
 (1489, 0.7615947387198433),
 (3654, 0.761594736658335),
 (3949, 0.7615947359318167),
 (7781, 0.7615947351168906),
 (5094, 0.7615947333814592),
 (627, 0.7615947332988657),
 (6157, 0.7615947331942079),
 (5373, 0.7615947327791315),
 (199, 0.7615947317328262),
 (4662, 0.7615947312341531),
 (2455, 0.7615947298559674),
 (5390, 0.7615947292710076),
 (3282, 0.7615947292675973),
 (5943, 0.7615947284985546),
 (4299, 0.7615947272769731),
 (4119, 0.7615947272400119),
 (7975, 0.7615947257172182),
 (8446, 0.761594725610899),
 (953, 0.7615947255410502),
 (7014, 0.7615947251532458),
 (1221, 0.7615947249463801),
 (4153, 0.7615947249211557),
 (205, 0.7615947248287571),
 (2392, 0.7615947246135149),
 (8586, 0.7615947214042126),
 (1460, 0.7615947208618387),
 (3453, 0.7615947205261531),
 (6954, 0.7615947204058605),
 (1888, 0.7615947203763249),
 (4137, 0.7615947190700907),
 (3131, 0.7615947179749334),
 (6748, 0.7615947178696825),
 (5038, 0.7615947177764579),
 (2412, 0.7615947170450519),
 (116, 0.7615947160248535),
 (6979, 0.7615947151124829),
 (7951, 0.7615947148232791),
 (8911, 0.7615947146936695),
 (7741, 0.7615947145267637),
 (3079, 0.7615947134632401),
 (404, 0.7615947121239253),
 (5416, 0.7615947116856524),
 (3715, 0.7615947111211175),
 (2184, 0.7615947106415591),
 (5413, 0.7615947100557889),
 (6325, 0.7615947099235851),
 (8406, 0.7615947098258736),
 (1829, 0.761594708419593),
 (3629, 0.7615947078428424),
 (8514, 0.7615947074571281),
 (6997, 0.7615947066493632),
 (1400, 0.7615947058284195),
 (2484, 0.7615947037110637),
 (3331, 0.7615947035000371),
 (2491, 0.7615947032515533),
 (7812, 0.7615947030407154),
 (693, 0.7615947029703094),
 (4478, 0.7615947029235208),
 (4099, 0.7615947026844572),
 (3275, 0.7615947020583517),
 (2754, 0.7615947016040716),
 (2026, 0.7615946997666033),
 (1649, 0.761594699698481),
 (7718, 0.7615946995119408),
 (8424, 0.7615946990670381),
 (5213, 0.7615946978173821),
 (2234, 0.7615946974993355),
 (3329, 0.7615946974084046),
 (6061, 0.7615946969494702),
 (7019, 0.7615946969175943),
 (5958, 0.7615946966343317),
 (547, 0.7615946961192577),
 (3653, 0.7615946956684179),
 (5780, 0.7615946951301211),
 (1388, 0.7615946940915574),
 (6691, 0.7615946935754088),
 (7505, 0.7615946934212512),
 (4539, 0.7615946928453636),
 (5220, 0.7615946928119105),
 (3777, 0.7615946923489518),
 (1570, 0.7615946913848722),
 (7377, 0.7615946912087916),
 (4435, 0.7615946906396786),
 (6577, 0.76159469044003),
 (5133, 0.7615946901719777),
 (3126, 0.7615946901288236),
 (3962, 0.761594689599715),
 (7980, 0.7615946893991291),
 (7588, 0.7615946891357352),
 (396, 0.7615946887196201),
 (6618, 0.7615946886268878),
 (1, 0.7615946885012794),
 (7051, 0.7615946883905067),
 (2592, 0.7615946877345507),
 (1974, 0.7615946872636408),
 (4440, 0.7615946872423798),
 (7985, 0.7615946867972113),
 (1964, 0.7615946862448079),
 (1378, 0.761594686110785),
 (3071, 0.761594686096714),
 (2849, 0.7615946840596568),
 (4892, 0.761594683691057),
 (5176, 0.7615946833310381),
 (2518, 0.7615946827710225),
 (7396, 0.7615946813114016),
 (8900, 0.7615946804971498),
 (1500, 0.7615946796451168),
 (4212, 0.7615946794496952),
 (919, 0.7615946791649747),
 (6383, 0.7615946790366693),
 (2390, 0.761594678628426),
 (1024, 0.7615946777701013),
 (540, 0.7615946774936597),
 (6428, 0.7615946751438296),
 (122, 0.7615946749854168),
 (7029, 0.7615946744849922),
 (6365, 0.7615946743189146),
 (4924, 0.7615946732725962),
 (469, 0.7615946728247626),
 (1935, 0.7615946727904798),
 (3378, 0.7615946725627316),
 (6289, 0.7615946723786137),
 (7648, 0.7615946718123213),
 (3363, 0.7615946712921451),
 (8552, 0.761594671273809),
 (6752, 0.7615946711437955),
 (2474, 0.7615946704315512),
 (6068, 0.7615946703697319),
 (8555, 0.7615946696800762),
 (4583, 0.7615946691272293),
 (6648, 0.761594668022797),
 (4451, 0.7615946679322223),
 (4630, 0.7615946677938339),
 (8324, 0.7615946676234181),
 (1579, 0.7615946669592295),
 (2371, 0.7615946668313175),
 (6030, 0.7615946665661235),
 (5815, 0.7615946661683807),
 (3073, 0.761594666012327),
 (5981, 0.7615946659858315),
 (5120, 0.7615946658393539),
 (6085, 0.7615946651147819),
 (484, 0.7615946648738285),
 (1448, 0.7615946646099577),
 (548, 0.7615946642596703),
 (1837, 0.7615946641706441),
 (1122, 0.7615946637915116),
 (1912, 0.7615946630651267),
 (2848, 0.7615946626033293),
 (2011, 0.7615946615556674),
 (6710, 0.7615946612756405),
 (2758, 0.7615946607246399),
 (7738, 0.7615946605544415),
 (4432, 0.7615946604955646),
 (564, 0.7615946600643684),
 (2549, 0.7615946597784029),
 (2944, 0.7615946590976097),
 (5257, 0.7615946582434799),
 (4126, 0.7615946581960747),
 (8616, 0.7615946578456801),
 (8469, 0.7615946574089087),
 (4268, 0.7615946572402519),
 (4712, 0.7615946562059053),
 (7993, 0.7615946561750708),
 (8779, 0.7615946551573434),
 (7288, 0.76159465467633),
 (480, 0.7615946544122107),
 (8008, 0.7615946541286617),
 (8179, 0.7615946539170506),
 (8059, 0.7615946536968256),
 (7030, 0.7615946521965544),
 (8162, 0.7615946521329308),
 (8223, 0.7615946521112184),
 (6244, 0.7615946511825789),
 (9013, 0.7615946501913946),
 (459, 0.7615946493060651),
 (1697, 0.7615946490076513),
 (233, 0.7615946485668812),
 (8240, 0.7615946483120927),
 (7750, 0.7615946481324375),
 (5643, 0.7615946477943213),
 (528, 0.7615946476811482),
 (801, 0.7615946471742372),
 (5137, 0.7615946468202364),
 (341, 0.7615946466127126),
 (5535, 0.7615946462147009),
 (8675, 0.7615946455258767),
 (905, 0.7615946454567979),
 (6460, 0.761594644395766),
 (7881, 0.7615946443454202),
 (8553, 0.7615946443263346),
 (3834, 0.7615946441439654),
 (5902, 0.7615946432819318),
 (8292, 0.7615946428569779),
 (4254, 0.7615946426874465),
 (2068, 0.7615946426862173),
 (5614, 0.761594642386246),
 (5845, 0.7615946408558819),
 (475, 0.7615946403190115),
 (1650, 0.7615946398289564),
 (2407, 0.7615946393339204),
 (1408, 0.7615946391505485),
 (7045, 0.7615946389279533),
 (4178, 0.7615946387799845),
 (192, 0.7615946386493959),
 (2135, 0.7615946383814887),
 (6417, 0.7615946381498464),
 (1584, 0.7615946380865797),
 (6807, 0.7615946372498041),
 (4989, 0.761594636217519),
 (5270, 0.7615946360341435),
 (6810, 0.7615946358647101),
 (5551, 0.7615946355845173),
 (1793, 0.7615946354762296),
 (8567, 0.7615946352169716),
 (4889, 0.7615946351139589),
 (7068, 0.7615946345310968),
 (2903, 0.7615946341666053),
 (7544, 0.7615946338384528),
 (4166, 0.761594633411892),
 (6032, 0.7615946331435072),
 (1200, 0.7615946331154386),
 (6861, 0.7615946326611923),
 (6719, 0.7615946320745592),
 (85, 0.761594631497059),
 (7308, 0.761594631487301),
 (1809, 0.7615946314028222),
 (5841, 0.7615946313867521),
 (8903, 0.7615946309665361),
 (1928, 0.7615946309040805),
 (8529, 0.7615946302550157),
 (2845, 0.7615946299520461),
 (6322, 0.7615946299019145),
 (8682, 0.7615946297302595),
 (3235, 0.7615946288664336),
 (4506, 0.7615946287244654),
 (4176, 0.76159462860291),
 (6424, 0.7615946274829504),
 (8679, 0.761594627192801),
 (4725, 0.7615946260528559),
 (7338, 0.7615946256313527),
 (2724, 0.7615946249873768),
 (692, 0.761594624955382),
 (5128, 0.7615946230506077),
 (2831, 0.7615946219617783),
 (527, 0.7615946215007938),
 (7364, 0.7615946213700592),
 (7663, 0.7615946212407902),
 (3199, 0.761594620968384),
 (1181, 0.7615946207879982),
 (700, 0.7615946198023132),
 (8046, 0.7615946193836534),
 (3175, 0.7615946190558135),
 (1059, 0.7615946187531409),
 (132, 0.7615946185410783),
 (5179, 0.7615946175612271),
 (3942, 0.761594617331914),
 (2649, 0.7615946165738154),
 (2530, 0.7615946160892073),
 (4860, 0.7615946159861389),
 (6919, 0.7615946155538951),
 (2097, 0.7615946154328094),
 (4595, 0.7615946148081613),
 (1959, 0.7615946138470227),
 (8871, 0.7615946132194192),
 (6128, 0.7615946131239604),
 (7077, 0.7615946129544048),
 (2809, 0.761594612923345),
 (5088, 0.7615946128116677),
 (6188, 0.7615946127880568),
 (3107, 0.7615946122825308),
 (6992, 0.7615946120954903),
 (1527, 0.761594611961329),
 (3181, 0.761594611842028),
 (1284, 0.7615946101824338),
 (2932, 0.7615946099724704),
 (1224, 0.7615946095514002),
 (3505, 0.7615946088447487),
 (5425, 0.7615946086036299),
 (6621, 0.7615946084881976),
 (2753, 0.7615946083029927),
 (3386, 0.7615946082214953),
 (7274, 0.7615946080083584),
 (5280, 0.7615946079381),
 (7170, 0.7615946079346738),
 (7174, 0.7615946077915947),
 (1686, 0.7615946070690647),
 (7409, 0.7615946070095718),
 (7944, 0.7615946068540695),
 (2638, 0.7615946065297337),
 (8665, 0.7615946062017868),
 (1916, 0.7615946060888225),
 (5720, 0.7615946060154026),
 (7983, 0.7615946056999381),
 (5092, 0.761594605495966),
 (3105, 0.7615946052573552),
 (4, 0.7615946051245468),
 (7617, 0.7615946048154624),
 (1261, 0.7615946046534618),
 (6108, 0.7615946044896263),
 (5598, 0.7615946044439914),
 (3568, 0.7615946043323597),
 (53, 0.76159460421363),
 (7570, 0.761594603433138),
 (1607, 0.7615946033984624),
 (1240, 0.7615946032815869),
 (4175, 0.7615946031009388),
 (4931, 0.7615946029181511),
 (6485, 0.761594602411261),
 (5116, 0.7615946016800226),
 (2029, 0.7615946015927219),
 (6808, 0.7615946013384496),
 (7486, 0.7615946011393475),
 (5260, 0.7615946004669806),
 (2243, 0.7615946003950345),
 (7040, 0.7615946003105841),
 (406, 0.7615946000036823),
 (1533, 0.7615945999034942),
 (8323, 0.7615945998405297),
 (1265, 0.761594599019997),
 (4452, 0.7615945986572665),
 (7572, 0.7615945982086638),
 (287, 0.761594598152577),
 (5523, 0.7615945974031455),
 (4408, 0.7615945970299367),
 (4970, 0.7615945969827947),
 (6227, 0.7615945969311884),
 (7116, 0.7615945967088611),
 (3314, 0.7615945958928785),
 (8439, 0.7615945956590306),
 (4012, 0.7615945951658041),
 (7212, 0.7615945944034028),
 (155, 0.7615945942471274),
 (6302, 0.7615945937373929),
 (7542, 0.7615945930928081),
 (6062, 0.7615945930564432),
 (4219, 0.7615945930379211),
 (7564, 0.7615945926991265),
 (5656, 0.7615945925599052),
 (3956, 0.7615945925110399),
 (3236, 0.7615945924423134),
 (4165, 0.7615945922669207),
 (3472, 0.7615945918854136),
 (8212, 0.7615945916082559),
 (2787, 0.7615945912791089),
 (1111, 0.7615945912121209),
 (2235, 0.7615945904482102),
 (1953, 0.7615945896981485),
 (1178, 0.7615945893917878),
 (6769, 0.7615945893032378),
 (5106, 0.7615945891811208),
 (7361, 0.7615945890428069),
 (4817, 0.7615945884034612),
 (4065, 0.7615945883148614),
 (4320, 0.7615945883072205),
 (1547, 0.7615945883063946),
 (3810, 0.7615945877234432),
 (3607, 0.7615945876492676),
 (8082, 0.7615945875720564),
 (682, 0.7615945872440785),
 (6038, 0.7615945871299787),
 (4576, 0.7615945868532563),
 (5650, 0.7615945859383048),
 (358, 0.7615945859186342),
 (8838, 0.7615945857614312),
 (7520, 0.7615945851533474),
 (8685, 0.7615945851470578),
 (985, 0.7615945849684603),
 (1207, 0.7615945848134125),
 (8023, 0.761594584405983),
 (4520, 0.7615945840296265),
 (6409, 0.7615945839626219),
 (2224, 0.7615945838841945),
 (8539, 0.7615945837459892),
 (1862, 0.7615945835209124),
 (8667, 0.7615945832886898),
 (1431, 0.7615945827444492),
 (6981, 0.761594582332674),
 (5935, 0.7615945820986841),
 (3922, 0.7615945819170811),
 (4291, 0.7615945817347717),
 (2701, 0.761594581706635),
 (8698, 0.7615945812612568),
 (2433, 0.7615945811929754),
 (6902, 0.7615945811561144),
 (4840, 0.7615945808605238),
 (6014, 0.761594580465726),
 (158, 0.7615945799372905),
 (2871, 0.761594579843206),
 (5787, 0.7615945797440945),
 (8451, 0.761594579499483),
 (2521, 0.761594579315133),
 (2165, 0.7615945789920242),
 (2144, 0.7615945789172777),
 (5930, 0.761594578718427),
 (4269, 0.7615945786215125),
 (619, 0.7615945774759143),
 (7682, 0.7615945771526671),
 (1966, 0.7615945765954102),
 (2668, 0.7615945765279012),
 (2409, 0.7615945764406615),
 (712, 0.7615945763531137),
 (2814, 0.7615945752519442),
 (100, 0.7615945751999648),
 (153, 0.7615945748130895),
 (1132, 0.76159457430445),
 (2596, 0.7615945740992209),

In [20]:
def give_rec(title, sig=sig):
    #Get the index of the movie Title
    idx = indices[title]
    
    sig_scores = sorted(list(enumerate(sig[idx])), key=lambda x:x[1], reverse=True)
    sig_scores = sig_scores[1:11]
    movie_indices = [i[0] for i in sig_scores]
    return tfid_copy['Title'].iloc[movie_indices]

In [21]:
give_rec(title='Star Wars')

954           The Empire Strikes Back
8713     Star Wars: The Force Awakens
967                Return of the Jedi
5078              The Thief of Bagdad
4808                Where Eagles Dare
5166                  The Magic Flute
9022    Kingsglaive: Final Fantasy XV
955                The Princess Bride
279                 The Swan Princess
1657                  Sleeping Beauty
Name: Title, dtype: object

# KNN Collaborative Based Filtering

In [ ]:
# Let us import the datasets, we will be using the smaller datasets first
movies = pd.read_csv('ratings_small.csv').drop(columns = ['timestamp'])
link = pd.read_csv('links_small.csv').drop(columns= ['tmdbId'])
keywords = pd.read_csv('keywords.csv')
metadata = pd.read_csv('movies_metadata.csv').drop(columns=['vote_count', 'vote_average','video','tagline','status'])
credit = pd.read_csv('credits.csv')

print("Movies dataset is", movies.shape)
print("Links dataset is", link.shape)
print("Keywords dataset is", keywords.shape)
print("Metadata dataset is", metadata.shape)
print("Credits dataset is", credit.shape)

movies.head()

In [53]:
# Getting the dataset with each individual UserId and the movies he has watched
merged_data[['Title','imdbId']]
movie_rating = pd.merge(movies,pd.merge(link,merged_data[['Title','imdbId']], on='imdbId' ),on='movieId')
movie_rating.head()

   userId  movieId  rating  imdbId            Title
0       1       31     2.5  112792  Dangerous Minds
1       7       31     3.0  112792  Dangerous Minds
2      31       31     4.0  112792  Dangerous Minds
3      32       31     4.0  112792  Dangerous Minds
4      36       31     3.0  112792  Dangerous Minds

In [77]:
movie_ratingCount = (movie_rating.groupby(by = ['Title'])['rating'].count().reset_index().rename(columns={"rating":"totalRatingCount"}))
movie_ratingCount = pd.merge(movie_rating, movie_ratingCount, on = 'Title')
movie_ratingCount = movie_ratingCount.sort_values(by=['movieId'])
movie_ratingCount.head()

       userId  movieId  rating  imdbId      Title  totalRatingCount
31834     654        1     5.0  114709  Toy Story               247
31681     242        1     5.0  114709  Toy Story               247
31680     241        1     3.0  114709  Toy Story               247
31679     240        1     4.5  114709  Toy Story               247
31678     237        1     3.0  114709  Toy Story               247

Setting a popularity threshold, where we query only movies that meet the threshold condition

In [78]:
popularity_threshold = 40
rating_popular = movie_ratingCount.query('totalRatingCount >= @popularity_threshold')
rating_popular.head()

       userId  movieId  rating  imdbId      Title  totalRatingCount
31834     654        1     5.0  114709  Toy Story               247
31681     242        1     5.0  114709  Toy Story               247
31680     241        1     3.0  114709  Toy Story               247
31679     240        1     4.5  114709  Toy Story               247
31678     237        1     3.0  114709  Toy Story               247

In [80]:
rating_popular.shape

(51097, 6)

In [82]:
# Lets create a Pivot Matrix
movie_features_df = rating_popular.pivot_table(index='Title',columns='userId',values='rating').fillna(0)
movie_features_df.head()

userId,1,2,3,4,5,6,7,8,9,10,...,662,663,664,665,666,667,668,669,670,671
Title,,,,,,,,,,,,,,,,,,,,,
(500) Days of Summer,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
10 Things I Hate About You,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0
12 Angry Men,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2001: A Space Odyssey,0.0,0.0,0.0,0.0,0.0,0.0,4.0,0.0,0.0,0.0,...,0.0,0.0,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
28 Days Later,0.0,0.0,0.0,0.0,4.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [86]:
from scipy.sparse import csr_matrix

movie_features_df_matrix = csr_matrix(movie_features_df)

# We will be using K-Nearest Neighbours 
from sklearn.neighbors import NearestNeighbors

# Once again we will be using cosine similarity
model_knn = NearestNeighbors(metric ='cosine', algorithm ='brute')
model_knn.fit(movie_features_df_matrix)

NearestNeighbors(algorithm='brute', metric='cosine')

In [87]:
# Shape of the pivot table
movie_features_df.shape

(625, 671)

In [109]:
# Query index picks a random movie among the 625 entries of movies
query_index = np.random.choice(movie_features_df.shape[0])
print(query_index)

# Choose the 6 nearest neighbours. Reshape is because we receive a Series
distance, indices = model_knn.kneighbors(movie_features_df.iloc[query_index,:].values.reshape(1, -1)
                                       , n_neighbors=6)

353

Distance is based on Cosine Similarity of K-Nearest Neighbors with Collarborative Filtering

In [110]:
for i in range(0, len(distance.flatten())):
    if i == 0:
        print("Recommendation for {0}:\n".format(movie_features_df.index[query_index]))
    else:
        print("{0}: {1} with distance of {2}:".format(i, movie_features_df.index[indices.flatten()[i]],distance.flatten()[i]))

Recommendation for Predator:

1: RoboCop with distance of 0.3932312922896629:
2: Alien with distance of 0.45328814215940694:
3: Alien with distance of 0.46617317511788436:
4: Total Recall with distance of 0.49765589562119517:
5: The Terminator with distance of 0.5163099459236367:

# Golden Village

In [ ]:
# Singular Value Decomposition (SVD) Netflix way Collaborative Filtering
# Can we scrap Golden Village Data and recommend a on going movie

In [177]:
# Importing the Golden Village dataset and filling nan values
gv = pd.read_csv('GVmovie.csv')
gv['Subtitle'] = gv['Subtitle'].fillna('None')
gv['Cast'] = gv['Cast'].fillna('None')
gv['runtime'] = gv['runtime'].fillna(0)
gv['Index'] = gv.index
gv.head()

,Title,Genres,Language,Subtitle,Date of Release,runtime,Cast,Director,Distributor,Overview,Index
0,The Marksman,Action/ Thriller,English,Chinese,25/2/2021,107.0,"Liam Neeson, Katheryn Winnick, Teresa Ruiz, Ju...",Robert Lorenz,GVP,Hardened Arizona rancher Jim Hanson (Liam Nees...,0
1,The Diam Diam Era Two 2,Drama/ Comedy,Mandarin,"English, Chinese",11/2/2021,91.0,"Mark Lee , Richie Koh , Danny Lee , ...",Jack Neo,GVP,"The story continues with Ah Kun, Osman and Sha...",1
2,Tom & Jerry,Animation/ Comedy/ Family,English,Chinese,11/2/2021,101.0,"Chloe Grace Moretz, Michael Pea, Colin Jost, ...",Tim Story,WB,One of the most beloved rivalries in history i...,2
3,Doraemon The Movie: Nobita's New Dinosaur,Animation / Adventure,Japanese,"English, Chinese",25/2/2021,110.0,"Megumi Oohara, Wasabi Mizuta, Yumi Kakazu, Sub...",Kazuaki Imai,Odex,"Nobita hatches two new dinosaurs, named Kyu an...",3
4,New Gods: Nezha Reborn,Action/ Animation/ Fantasy,Mandarin,"English, Chinese",18/2/2021,117.0,"Yang Tianxiang , Zhang He , Xuan Xiaoming...",Ji Zhao,GVP,The story happens after over 2000 years when N...,4

In [178]:
from sklearn.feature_extraction.text import TfidfVectorizer
gv_copy = gv.copy()
tfv = TfidfVectorizer(min_df = 3, max_features=None,
        strip_accents= 'unicode',analyzer='word',
        token_pattern = r'\w{1,}',
        ngram_range=(1,3),
        stop_words = 'english')

tfv_matrix = tfv.fit_transform(gv['Overview'])

In [71]:
from sklearn.metrics.pairwise import sigmoid_kernel

# Compute the sigmoid kernel and cosine similarity
sig = sigmoid_kernel(tfv_matrix, tfv_matrix)
cosinesimilarity = cosine_similarity(tfv_matrix)

In [87]:
index = gv[gv.Title == 'Tom & Jerry']['Index'].values[0]
sigmoid_rec = sorted(list(enumerate(sig[index])), key=lambda x:x[1], reverse=True)
cosine_rec = sorted(list(enumerate(cosinesimilarity[index])), key=lambda x:x[1], reverse=True)

In [100]:
count = 1
print("Golden Village movies to consider(Cosine Similarity):")
for i in cosine_rec[1:6]:
    print(count,":",gv.iloc[i[0]]['Title'])
    count+=1
count = 1
print("\n")
print("Golden Village movies to consider(Sigmoid Kernel):")
for i in sigmoid_rec[1:6]:
    print(count,":",gv.iloc[i[0]]['Title'])
    count+=1

Golden Village movies to consider(Cosine Similarity):
1 : Promising Young Woman
2 : Chaos Walking
3 : Wonder Woman 1984
4 : Andr And His Olive Tree
5 : New Year Blues


Golden Village movies to consider(Sigmoid Kernel):
1 : Promising Young Woman
2 : Chaos Walking
3 : Wonder Woman 1984
4 : Andr And His Olive Tree
5 : New Year Blues

##### We will now attempt to merge our TFID Vectorizer to recommend a Golden Village Movie

In [126]:
# This is the code for our content based recommender using TFID Vectorizer with a Sigmoid Kernel
# merged_data.copy() is using our processed merged_data from the one line code processing part
tfid_copy = merged_data.copy()
tfv = TfidfVectorizer(min_df = 3, max_features=None,
        strip_accents= 'unicode',analyzer='word',
        token_pattern = r'\w{1,}',
        ngram_range=(1,3),
        stop_words = 'english')
# stop_words = 'english', removes , . '' ! and words like this, is,she,is,that which are very repetitive
tfid_copy['Overview'] = tfid_copy['Overview'].fillna('')

tfv_matrix = tfv.fit_transform(tfid_copy['Overview'])


# Compute the sigmoid kernel
sig = sigmoid_kernel(tfv_matrix, tfv_matrix)

indices = pd.Series(tfid_copy.index, index=tfid_copy['Title']).drop_duplicates()

indices['Toy Story']
sorted(list(enumerate(sig[indices['Toy Story']])), key=lambda x:x[1], reverse=True)

def give_rec(title, sig=sig):
    #Get the index of the movie Title
    idx = indices[title]
    
    sig_scores = sorted(list(enumerate(sig[idx])), key=lambda x:x[1], reverse=True)
    sig_scores = sig_scores[1:11]
    movie_indices = [i[0] for i in sig_scores]
    return tfid_copy.iloc[movie_indices]

In [213]:
selected = pd.DataFrame(give_rec(title='Toy Story')['Overview']).iloc[0]

gv_merged = pd.DataFrame(gv_copy['Overview'].append(selected)).rename(columns={0:"Overview"})

In [214]:
length = [i for i in range(len(gv_merged))]
gv_merged = gv_merged.set_index(pd.Index(length))
gv_merged

                                             Overview
0   Hardened Arizona rancher Jim Hanson (Liam Nees...
1   The story continues with Ah Kun, Osman and Sha...
2   One of the most beloved rivalries in history i...
3   Nobita hatches two new dinosaurs, named Kyu an...
4   The story happens after over 2000 years when N...
5   Chen Xiaomeng is a theatre actor who just can...
6   A WRITERS ODYSSEY tells the story of Kongwen ...
7   A tender and sweeping story about what roots u...
8   Following the excitement of first Bangkok and ...
9   From visionary director Emerald Fennell (Killi...
10  Check is a high octane action thriller that fe...
11  From writer and director HARRY MACQUEEN (Hinte...
12  Film celebrating the 50th anniversary of "Dora...
13  Two millennials get into a relationship where ...
14  Chakra is a cyber-crime thriller where an offi...
15  4 different couples spend 1 romantic week over...
16  A romantic comedy about a nave bank clerk nam...
17  Academy Award winners Denzel Washington (Trai...
18  Andr and His Olive Tree follows Chef Andr as...
19  Directed by two-time Academy Award-winner Pete...
20  Falling forever into an endless dream Tanjiro...
21  Fast forward to the 1980s as Wonder Womans ne...
22  The forbidden live-action film adaptation ba...
23  A series of bomb explosions have been occurrin...
24  THE DIAM DIAM ERA" begins from 1979, spanning...
25  Uppena is inspired by the honour killing that ...
26  In Tomer Esheds animated film DRAGON RIDER, s...
27  An emergency alarm rings. A serious incident h...
28  On January 23rd, 2020, China locked down Wuhan...
29  Long ago, in the fantasy world of Kumandra, hu...
30  The Priest  is one of the most anticipated Mal...
31  The wandering knight, Bedivere, reaches the en...
32  In the not too distant future, Todd Hewitt (To...
33  A woman in her sixties who, after losing every...
34  The things I want to protect, are right here (...
35  Legends collide in Godzilla vs. Kong as thes...
36  Sometimes the man you dont notice is the most...
37  The new fantasy-action Mortal Kombat is the th...
38  Scarlett Johansson reprises her role as Natash...
39  A father brings up his baby girl as a single d...
40  In "Free Guy", a bank teller who discovers he ...
41  Vin Diesel's Dom Toretto is leading a quiet li...
42  The Conjuring: The Devil Made Me Do It revea...
43  In PETER RABBIT 2: THE RUNAWAY, the lovable ro...
44  The creator of Hamilton and the director of ...
45  From the biggest animated franchise in history...
46  After more than thirty years of service as one...
47  Woody, Buzz, and the rest of Andy's toys haven...

In [215]:
tfv_matrix = tfv.fit_transform(gv_merged['Overview'])
sig = sigmoid_kernel(tfv_matrix, tfv_matrix)
cosinesimilarity = cosine_similarity(tfv_matrix)
index = 47 # 47 is the first movie from our TFID Content Based, 
sigmoid_rec = sorted(list(enumerate(sig[index])), key=lambda x:x[1], reverse=True)
cosine_rec = sorted(list(enumerate(cosinesimilarity[index])), key=lambda x:x[1], reverse=True)

In [216]:
count = 1
print("Golden Village movies to consider(Sigmoid Kernel):")
for i in sigmoid_rec[1:6]:
    if(i[1] == 0):
        print("No movies to recommend!")
        break
    print(count,":",gv.iloc[i[0]]['Title'])
    count+=1

Golden Village movies to consider(Sigmoid Kernel):
1 : Andr And His Olive Tree
2 : 76 Days
3 : Fatherhood
4 : Nobody
5 : Minari